<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MasterPage.master.cs" Inherits="HBSecurity.MasterPage" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <%--bootstrap css--%>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <%--datatables css--%>
    <link href="datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <%--fontawesome css--%>
    <link href="fontawesome/css/all.css" rel="stylesheet" />
    <%--customstyle css--%>
    <link href="css/customstyle.css" rel="stylesheet" />

    <%--jquery js--%>
    <script src="bootstrap/js/jquery-3.3.1.slim.min.js"></script>
    <%--popper js--%>
    <script src="bootstrap/js/popper.min.js"></script>
    <%--bootstrap js--%>
    <script src="bootstrap/js/bootstrap.min.js"></script>

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="Home.aspx">
                    <img src="imgs/hb_security_logo.jpg"  height="100" />
                    HB Security
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                 <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="Home.aspx">Home</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="AboutUs.aspx">About Us</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="MitreInfo.aspx">MITRE Information</a>
                        </li>

                    </ul>

                    <ul class="navbar-nav">
                         <li class="nav-item active">
                            <asp:LinkButton class="nav-link" ID="btnApplyTest" runat="server" OnClick="btnApplyTest_Click" Visible="False">Apply Test</asp:LinkButton>
                        </li>
                        <li class="nav-item active">
                            <asp:LinkButton class="nav-link" ID="btnLogin" runat="server" OnClick="btnLogin_Click">Login</asp:LinkButton>
                        </li>
                        <li class="nav-item active">
                            <asp:LinkButton class="nav-link" ID="btnSignUpRedirect" runat="server" OnClick="btnSignUpRedirect_Click">Sign Up</asp:LinkButton>
                        </li>
                        <li class="nav-item active">
                            <asp:LinkButton class="nav-link" ID="btnLogout" runat="server" OnClick="btnLogout_Click" Visible="False">Logout</asp:LinkButton>
                        </li>

                        <li class="nav-item active">
                            <asp:LinkButton class="nav-link" ID="btnUserProfileView" runat="server" OnClick="btnUserProfileView_Click" Visible="False">Hello user</asp:LinkButton>
                        </li>
                    </ul>
                </div>


            </nav>
        </div>


        <!-- Main Content Placeholder -->
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
        <!-- Main Content Placeholder -->

        <footer>
            <div id="footer" class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                        <p>&copy All rights reserved. HBSecurity
                    </div>
                </div>
            </div>
        </footer>

    </form>
</body>
</html>
